
    <% @items.each do |item| %>


    	<div class="store_item">
    		<div class="item-image"> <%= image_tag(item.image.url, :width => 200, :height => 85) %> </div>
    		<div class="item-description"> <b><%= item.description %></b> </div><br />
    		<div class="item-name"> <%= item.name %> - $ <%= item.price %> </div> <br />
			
			
			
    	</div>


    <% end %>