
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Consign | Lynn&#039;s World Quality Consignment</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="http://cocoadot.com/lynnsworld/xmlrpc.php" />
<!--[if lt IE 9]>
<script src="http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/js/html5.js" type="text/javascript"></script>
<![endif]-->
<link rel="alternate" type="application/rss+xml" title="Lynn&#039;s World Quality Consignment &raquo; Feed" href="http://cocoadot.com/lynnsworld/feed/" />
<link rel="alternate" type="application/rss+xml" title="Lynn&#039;s World Quality Consignment &raquo; Comments Feed" href="http://cocoadot.com/lynnsworld/comments/feed/" />
<link rel='stylesheet' id='twentytwelve-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='twentytwelve-style-css'  href='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/style.css?ver=4.0.1' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css'  href='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/css/ie.css?ver=20121010' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='jetpack_css-css'  href='http://cocoadot.com/lynnsworld/wp-content/plugins/jetpack/css/jetpack.css?ver=3.2.1' type='text/css' media='all' />
<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-content/plugins/jquery-updater/js/jquery-2.1.1.min.js?ver=2.1.1'></script>
<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://cocoadot.com/lynnsworld/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cocoadot.com/lynnsworld/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.0.1" />
<link rel='canonical' href='http://cocoadot.com/lynnsworld/consign/' />
<link rel='shortlink' href='http://cocoadot.com/lynnsworld/?p=9' />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body class="page page-id-9 page-template page-template-page-templatesfull-width-php full-width custom-font-enabled single-author">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="http://cocoadot.com/lynnsworld/" title="Lynn&#039;s World Quality Consignment" rel="home">Lynn&#039;s World Quality Consignment</a></h1>
			<h2 class="site-description"></h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle">Menu</button>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			<div class="nav-menu"><ul><li ><a href="/clients">Home</a></li><li class="page_item page-item-9"><a href="/clients/consign">Consign</a></li><li class="page_item page-item-19"><a href="/clients/contact">Contact</a></li><li class="page_item page-item-21 current_page_item"><a href="/clients/products">Products</a></li></ul></div>
		</nav><!-- #site-navigation -->

			</header><!-- #masthead -->

	<div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">

							
	<article id="post-9" class="post-9 page type-page status-publish hentry">
		<header class="entry-header">
												<h1 class="entry-title">Consign</h1>
		</header>

		<div class="entry-content">
			<p><a href="http://cocoadot.com/lynnsworld/wp-content/uploads/2014/11/lyn3-300x171.jpg"><img class="alignleft wp-image-16 size-full" src="http://cocoadot.com/lynnsworld/wp-content/uploads/2014/11/lyn3-300x171.jpg" alt="lyn3-300x171" width="300" height="171" /></a> How does it work? We make it as easy as possible. Call or e-mail us with information on what you’d like to consign. One of our team will happily chat with you about what you can expect to receive once Lynn’s World sells your pieces. From a single item to a houseful, we’ll work with you—as we have with thousands of customers for decades—to get you top price for your treasures. If you wish, our professional team will pick up your items; you need not lift a finger.</p>
<p>We’ll refresh it if necessary, display it in its most favorable light, sell it and you’ll pick up a check. It’s that simple. Feel free to call for details.</p>
					</div><!-- .entry-content -->
		<footer class="entry-meta">
					</footer><!-- .entry-meta -->
	</article><!-- #post -->
				
<div id="comments" class="comments-area">

	
	
			
</div><!-- #comments .comments-area -->			
		</div><!-- #content -->
	</div><!-- #primary -->

	</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
		<div class="site-info">
						<a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">Proudly powered by WordPress</a>
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/js/navigation.js?ver=20140711'></script>
</body>
</html>
<!-- Dynamic page generated in 0.354 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2014-11-23 17:56:36 -->

<!-- super cache -->