
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Products | Lynn&#039;s World Quality Consignment</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="http://cocoadot.com/lynnsworld/xmlrpc.php" />
<!--[if lt IE 9]>
<script src="http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/js/html5.js" type="text/javascript"></script>
<![endif]-->
<link rel="alternate" type="application/rss+xml" title="Lynn&#039;s World Quality Consignment &raquo; Feed" href="http://cocoadot.com/lynnsworld/feed/" />
<link rel="alternate" type="application/rss+xml" title="Lynn&#039;s World Quality Consignment &raquo; Comments Feed" href="http://cocoadot.com/lynnsworld/comments/feed/" />
<link rel='stylesheet' id='twentytwelve-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='twentytwelve-style-css'  href='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/style.css?ver=4.0.1' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css'  href='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/css/ie.css?ver=20121010' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='jetpack_css-css'  href='http://cocoadot.com/lynnsworld/wp-content/plugins/jetpack/css/jetpack.css?ver=3.2.1' type='text/css' media='all' />
<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-content/plugins/jquery-updater/js/jquery-2.1.1.min.js?ver=2.1.1'></script>
<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://cocoadot.com/lynnsworld/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://cocoadot.com/lynnsworld/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.0.1" />
<link rel='canonical' href='http://cocoadot.com/lynnsworld/products/' />
<link rel='shortlink' href='http://cocoadot.com/lynnsworld/?p=21' />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body class="page page-id-21 page-template page-template-page-templatesfull-width-php full-width custom-font-enabled single-author">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="http://cocoadot.com/lynnsworld/" title="Lynn&#039;s World Quality Consignment" rel="home">Lynn&#039;s World Quality Consignment</a></h1>
			<h2 class="site-description"></h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle">Menu</button>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			<div class="nav-menu"><ul><li ><a href="/clients">Home</a></li><li class="page_item page-item-9"><a href="/clients/consign">Consign</a></li><li class="page_item page-item-19"><a href="/clients/contact">Contact</a></li><li class="page_item page-item-21 current_page_item"><a href="/clients/products">Products</a></li></ul></div>
		</nav><!-- #site-navigation -->

			</header><!-- #masthead -->

	<div id="main" class="wrapper">
	<div id="primary" class="site-content">
		<div id="content" role="main">

							
	<article id="post-21" class="post-21 page type-page status-publish hentry">
		<header class="entry-header">
												<h1 class="entry-title">Products</h1>
		</header>

		<div class="entry-content">
			<p><strong>Lynn’s World Quality Consignment </strong>offers moderate to high-end resale on consignment. We only accept the absolute best consignments available turning away 30%-40% of items presented to us for consignment. Much With such name brands as Ethan Allen, Henredon, Thomasville, Drexel Heritage, Century and Rowe, <strong>Lynn’s World Quality Consignment </strong>offers an excellent assortment of value. We offer substantial savings on quality furniture and home furnishings. From traditional to contemporary, oriental to western styles are available at tremendous savings. You will be very happy you stopped in to visit us at <strong>Lynn’s World Quality Consignment</strong>. We offer complete bedroom, dining, and living areas to individual tables and chairs. Our selection of framed art, pictures and home furnishings is the icing on the cake.</p>
<p><strong>Latest Products</strong></p>
					</div><!-- .entry-content -->
		<footer class="entry-meta">
					</footer><!-- .entry-meta -->
	</article><!-- #post -->
				
<div id="comments" class="comments-area">

	
	
			
</div><!-- #comments .comments-area -->			
		</div><!-- #content -->
	</div><!-- #primary -->

	</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
		<div class="site-info">
						<a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">Proudly powered by WordPress</a>
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

<script type='text/javascript' src='http://cocoadot.com/lynnsworld/wp-content/themes/twentytwelve/js/navigation.js?ver=20140711'></script>
</body>
</html>
<!-- Dynamic page generated in 0.261 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2014-11-23 18:06:52 -->

<!-- super cache -->