body {

}
@font-face
{
font-family: Barcode;
src: url('http://azalea.com/web-fonts/Code39Azalea.eot') format('embedded-opentype'), /* IE9 Compat Modes */
   url('http://azalea.com/web-fonts/Code39Azalea.woff') format('woff'), /* Modern Browsers */
   url('http://azalea.com/web-fonts/Code39Azalea.ttf') format('truetype'), /* Safari, Android, iOS */
   url('http://azalea.com/web-fonts/Code39Azalea.svg#Code39Azalea') format('svg'); /* Legacy iOS */
font-weight: normal;
font-style: normal;
}


/*********** Form Stuff*******************/
.theme-showcase {
	margin-top: 15px;
	position: relative;
}

.form-signin {
	margin: auto auto;
	max-width: 330px;
}
.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
	display:inline-block;
}

#new-item-form{
margin-top: 80px;

}

.actions{
	color:maroon;

}

.fileUpload {
	position: relative;
	overflow: hidden;
	height:45px;
	
}
.fileUpload input.upload {
	position: absolute;

	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*******************HOMES********************/
.top_logo {
	text-align: center;
	width: 100%;
	height: 82px;
	margin: auto auto;
	overflow:hidden;
}

.top_header {
	text-align: center;
	width: 100%;
	height: 80px;
	margin: auto auto;
	overflow:hidden;
	position: relative;
}

.top_header .home-line-break {
	top: 20px;
}

.top_logo img {
	margin: auto auto;
}

.panel-default{
	margin:0;

}

.home-line-break{
	background-color: #7fc342;
	position: relative;
	width:100%;
	height:15px;
	top: 85px;
	margin: 0 auto;
}

.main_button {
	position: relative;
	width: 90%;
	height: 100px;
	margin: 10px auto;
	background-color: rgba(0,0,0,0.1);
	overflow:hidden;
}

.home-icon {
	position: absolute;
	margin-left: 10px;
	right: 5px;
	top: 5px;
}

.main_button a {
	position: absolute;
	top: 30px;
	right: 100px;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	font-variant: small-caps;
}

.header_text {
	color: black;
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
	font-variant: small-caps;
}

.header_img img{
	position: absolute;
	top: 10px;
	right: 0px;
	width: 50px;
	height: 50px;
}

.header_arrow {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 70px;
	height: 70px;
}

.sell_item {
	text-align: center;
	float: left;
	margin: 10px;
	width: 120px;
	height: 120px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
}
.sell_item img {
	max-height: 80px;
	max-width: 80px;
}

.bottom_footer {
	position: absolute;
	top:450px;

	text-align: center;
	width: 100%;
	height: 80px;
	margin: auto auto;
	overflow:hidden;
}

.prev_button {
	position: absolute;
	left: 10px;
	width: 80px;
	height: 80px;
}
.next_button {
	position: absolute;
	right: 10px;
	width: 80px;
	height: 80px;
}

.done-button {
	position: absolute;
	right: 10px;
	width: 80px;
	height: 80px;
}

.search-bar{
width: 100%;
}


.choose_product{
	margin-left: 10%;
}

.title-text{
	margin-top: 0px;
	text-align: center;
	font-size: 20px;
}

.input-sm, .col-sm-2 {
	width: 300px;
	height: 50px;
	font-size: 26px;
}

#txt-area {
	height: 150px;
}

.num-input {
	width: 150px;
}


.store_item {
	text-align: center;
	float: left;
	margin: 10px;
	width: 200px;
	height: 200px;
	background-color: #ffffff;
	border: 1px solid grey;
	position: relative;


}

.item-description{
	margin-top: 0px;
}

.item-name{

	position:absolute;
	display: block;
	color: black;
	bottom: 5px;
	left: 5px;
}

.store_item img {
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.generate {
display: inline-block;
width: 50px;
height: 50px;
margin: 10px 0 0 10px;
font-size: 36px;
color: #000;
text-align: center;
}

#barcode_display {
	margin-top: 5px;
	font-family: 'Barcode';
	font-size: 60px;
}
