body {

}
/*********** Form Stuff*******************/
.theme-showcase {
	margin-top: 15px;
	position: relative;
}

.form-signin {
	margin: auto auto;
	max-width: 330px;
}
.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}

#new-item-form{
margin-top: 80px;

}

.actions{
	color:maroon;

}

.fileUpload {
	position: relative;
	overflow: hidden;
	height:45px;
	
}
.fileUpload input.upload {
	position: absolute;

	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*******************HOMES********************/
.top_logo {
	text-align: center;
	width: 100%;
	height: 82px;
	margin: auto auto;
	overflow:hidden;
}

.top_header {
	text-align: center;
	width: 100%;
	height: 80px;
	margin: auto auto;
	overflow:hidden;
	position: relative;
}

.top_header .home-line-break {
	top: 20px;
}

.top_logo img {
	margin: auto auto;
}

.panel-default{
	margin:0;

}

.home-line-break{
	background-color: #7fc342;
	position: relative;
	width:100%;
	height:15px;
	top: 85px;
	margin: 0 auto;
}

.main_button {
	position: relative;
	width: 90%;
	height: 100px;
	margin: 10px auto;
	background-color: rgba(0,0,0,0.1);
	overflow:hidden;
}

.home-icon {
	position: absolute;
	margin-left: 10px;
	right: 5px;
	top: 5px;
}

.main_button a {
	position: absolute;
	top: 30px;
	right: 100px;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	font-variant: small-caps;
}

.header_text {
	color: black;
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
	font-variant: small-caps;
}

.header_img img{
	position: absolute;
	top: 10px;
	right: 0px;
	width: 50px;
	height: 50px;
}

.header_arrow {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 70px;
	height: 70px;
}

.sell_item {
	text-align: center;
	float: left;
	margin: 10px;
	width: 120px;
	height: 120px;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.1);
	padding: 5px;
}
.sell_item img {
	max-height: 80px;
	max-width: 80px;
}

.bottom_footer {
	position: absolute;
	top:450px;

	text-align: center;
	width: 100%;
	height: 80px;
	margin: auto auto;
	overflow:hidden;
	background-color: red;
}

